.short-story {
    border: black; 
    font-family: ;
    background-image: ; 
    background-image: url('img/paper.jpg');

}   

a:link{
    text-decoration: none;
    color: black;
}

#Karina {
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
}

#Tina {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
}

#Lucy {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-size: 60px;
}

#Rosita {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'The Girl Next Door', cursive;
    font-size: 70px;
}

#Jazmine {
    font-family: 'Homemade Apple', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'The Girl Next Door', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;
}

