.short-story {
    border: black; 
    font-family: ;
    background-image: ; 
}   

#Karina {
    font-family: 'Shadows Into Light', cursive;; 
    border: black;
    font-size: 60px;
}

#Tina {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Homemade Apple', cursive;
    border: black;
    font-size: 50px;
}

#Lucy {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Reenie Beanie', cursive;
    border: black;
    font-size: 60px;
    background-image: ;
}

#Rosita {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'The Girl Next Door', cursive;
    border: black;
    font-size: 70px;
}

#Jazmine {
    font-family: 'Homemade Apple', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'The Girl Next Door', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Architects Daughter', cursive;
    border: black;
    font-size: 60px;
}

