h1 {
	color: black;
}

.card {
	background: pink;
	margin: 0;
	width: 100%;
	text-align: center;
}

#myProgress {
  width: 80%;
  background-color: #ddd;
  margin: 10%;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

button,input,select,textarea{
	font:inherit;
	margin:0;
	}

button,input{
	overflow:visible;
	}

button,select{
	text-transform:none;
	}
button,html [type=button],[type=reset],[type=submit]{
	-webkit-appearance:button;
	}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{
	border-style:none;
	padding:0;
	}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{
	outline:1px dotted ButtonText;
	}

.w3-btn,.w3-button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	}
.w3-btn:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
.w3-btn,.w3-button{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{
	cursor:not-allowed;
	opacity:0.3;
	}
.w3-disabled *,:disabled *{
	pointer-events:none;
	}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{
	box-shadow:none;
	}
	
.ask {
	float: right;
	display: inline-block;
	width: 50%;
}
.given {
	float: left;
	width: 50%;
}