@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
h1 {
	color: black;
}

body {
	font-family: 'Open Sans', sans-serif;
}
h1, h2 {
  font-family: 'Bad Script', cursive; }

  a {
	  text-decoration: none;
  }
  
.card {
	background: url(../img/paper-texture.png);
	margin: 0;
	width: 100%;
	text-align: center;
	display: block;
	padding: 20px;
}

.Progress {
  width: 80%;
  background-color: #ddd;
  margin: 0 10%;
}

.Bar {
  width: 14%;
  height: 30px;
  background-color: grey;
}

.ask {
	float: right;
	display: inline;
	margin: 0 10%;
}
.given {
	float: left;
	margin: 0 10%;
}
button {
	border: 1px solid black;
	padding: 20px;
	text-decoration: none;
    color: black;
}

@media screen and (min-width: 760px){
.card {
	background: url(../img/paper-texture.png);
	margin: 3% 3%;
	width: 30%;
	text-align: center;
	display: inline-block;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 25px;
}}