.texture {
	background: url(../img/paper-texture.png);
}
.center {
	float: none;
	margin: 0 auto;
}
ul {
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline-block;
		border: 1px solid black;
		padding: 20px;
		a {
			text-decoration: none;
			color: black;
		}
	}
}
.buttons {
	ul {
		padding-left: 0;
		padding: 20px 0;
	}
	ul li {
		display: block;
		margin: 10px;
		border: 1px solid black;
		&:hover {
			background: beige;
		}
	}
}
form input {
	padding: 10px;
	margin: 10px 0;
	width: 300px;
	height: 40px;
}
input[type="submit"] {
	display: block;
    height: 40px;
    border: none;
    border: 1px solid;
    background-color: beige;
}