// Colors



@import url('https://fonts.googleapis.com/css?family=Bad+Script');


// Media Query Breakpoints
$brk-narrow 	: '(max-width: 767px)';
$brk-wide 		: '(max-width: 1023px)';
$brk-tablet-min : '(min-width: 768px)';
$brk-wide-min	: '(min-width: 1024px)';
$brk-big-max	: '(max-width: 1440px)';


// Mixins
@mixin transition($length) {
	transition: all $length ease-out;
} 