<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css_dir/index.css">
    <title>Full Story</title>
</head>
<body>
	<div class="grid">
		<div class="center col-7-12">
			<div class="full-story texture">
				<h1>Jazmine</h1>
				<p>I sat in the downpour rocking Jesse, my seven-month old son, trying to settle his crying. I was agonizing over how I was going to supply his next meal. How could I call myself a mother and not provide for my son? All I want to do is give Jesse the world. He is the one bright spot in my life, and I would do anything to make him happy.  When I found out about W.O.M.A.N INC., I thought it was too good to be true. Through their support, I was able to provide for my Jesse. The happiest moment of my life was seeing his smiling face once again.</p>
			</div>
			<div class="needs">
				<h2>Help Jazmine with</h2>
				<ul>
					<li><a href="">Translation</a></li>
					<li><a href="">Housing</a></li>
					<li><a href="">Legal advice</a></li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</body>
</html>

<script src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/storydata.js"></script>
<script type="text/javascript" src="../js/app.js"></script>