<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css_dir/index.css">
    <title>Full Story</title>
</head>
<body>
	<div class="grid">
		<div class="center col-7-12">
			<div class="full-story texture">
				<h1>Tina</h1>
				<p>As I sat in my living room, I could feel the disapproving stare of my parents boring into my bowed head. You might ask how could their perfect daughter disappoint them so much? The answer: by being myself. I knew that by coming out to my parents I was becoming an orphan. Little did I know that I would find a friend to help me along on my journey to self-discovery. My counselor at El/La Para TransLatinas helped me to accept myself for the unique and wonderful person that I am.</p>
			</div>
			<div class="needs">
				<h2>Help Tina with</h2>
				<ul>
					<li><a href="">Translation</a></li>
					<li><a href="">Housing</a></li>
					<li><a href="">Legal Advice</a></li>
					<li><a href="">Donate</a></li>

				</ul>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/storydata.js"></script>
<script type="text/javascript" src="../js/app.js"></script>