<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css_dir/index.css">
    <title>Full Story</title>
</head>
<body>
	<div class="grid">
		<div class="center col-7-12">
			<div class="full-story texture">
				<h1>Rosita</h1>
				<p>I was sold into sex trafficking at 13. Within seconds, my family, home, and way of life was stolen. I laid there stripped bare of my identity and cried for the child that died that night. Little did I know of the horrors that awaited me. Of the monsters that would haunt me every night for the next four years. When I didn’t think there was any hope left, I was rescued from my despair. Freedom House is helping me to learn to trust again. I am discovering the strong woman that has been inside of me the whole time.</p>
			</div>
			<div class="needs">
				<h2>Help Rosita with</h2>
				<ul>
					<li><a href="">Translation</a></li>
					<li><a href="">Housing</a></li>
					<li><a href="">Legal Advice</a></li>
					<li><a href="">Donate</a></li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/storydata.js"></script>
<script type="text/javascript" src="../js/app.js"></script>