<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css_dir/index.css">
    <title>Full Story</title>
</head>
<body>
	<div class="grid">
		<div class="center col-7-12">
			<div class="full-story texture">
				<h1>Karina</h1>
				<p>I was alone except for a controlling and abusive husband. Without Alexie, I knew I would never make it in San Francisco. The language, culture, and people were so different from my home in Ukraine. By escaping his abuse, I would be condemning myself to a world that I did not understand. Jobless, homeless, and friendless would be the words to describe me. How could I decide between these two horrible options? Thankfully, I did not have to. I was able to receive the legal advice and translating services I needed. I am now enrolled in English classes and am building the life I thought I would never achieve.</p>
			</div>
			<div class="needs">
				<h2>Help Karina</h2>
				<ul>
					<li><a href="">Translation. Karina speaks Ukrainian</a></li>
					<li><a href="">Housing</a></li>
					<li><a href="">Legal Advice</a></li>
					<li><a href="">Donate</a></li>

				</ul>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/storydata.js"></script>
<script type="text/javascript" src="../js/app.js"></script>