<html>
<head>
  <meta charset="UTF-8">
  <title>Partners | </title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/normalize.css">
<link rel="stylesheet" type="text/css" href="../css/partner.css">
<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/partnerdata.json"></script>
<script type="text/javascript" src="../js/app.js"></script>


</head>
<body>
<div class="card">
<h1 id ='1_name'>Partner Name</h1>
<p><a id= "1_web" href="website">website</a></p>
<p>contact_name<br>contact_number</p>

<h3>How you can help:</h3>
<p>Translators: language <a href="">Sign up</a><br>
Housing: type <a href="">provide</a><br></p>
<div id="myProgress">
  <div id="myBar"></div>
</div>
<div>
<div class="given">amount_received</div>
<div class="ask">monetary</div>
</div>
<br>
 <button class="w3-button w3-green" onclick="move()">Donate</button> 

<script type="text/javascript">
var obj = JSON.parse(JSON.stringify(partnername));
console.log(obj);

var partner_data = obj;
 
console.log('next line of code');
for (var key in partner_data){
	var i = 1;
	var name = partner_data[i].key();
	var partner_name = document.getElementById( i + '_name');
	partner_name.innerText = key;
	var partner_web = document.getElementById( i + '_web');
    console.log(partner_web);
    console.log(partner_data[key].website);
	partner_web.setAttribute("href", partner_data[key].website);
	console.log(partner_data[key].amount_received);
	console.log(partner_data[key].contact_name);
	console.log(partner_data[key].contact_number);	
	console.log(partner_data[key].volunteer_needs);
	i++;
;};
console.log('Outside loop');
console.log(partner_data["Family Violence Law Center"]);
</script>
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
    }
  }
}
</script>

</div>

<div id="partner" class="card">
<h1>Partner Name</h1>
<p><a href="website">website</a></p>
<p>contact_name<br>contact_number</p>

<h3>How you can help:</h3>
<p>Translators: language <a href="">Sign up</a><br>
Housing: type <a id="webpage" href="">provide</a><br></p>
<div id="myProgress">
  <div id="myBar"></div>
</div>
<div>
<div class="given">Amount received: amount_received</div>
<div class="ask">Amount Needed: monetary</div>
</div>
<br>
 <button class="w3-button w3-green" onclick="move()">Donate</button> 

<script type="text/javascript">
var obj = JSON.parse(JSON.stringify(partnername));
console.log(obj);

var partner_data = obj;
 
console.log('next line of code');
var partner = document.getElementById('partner');
for (var key in partner_data){
    console.log(key);
    console.log(partner_data[key].website);
	console.log(partner_data[key].amount_received);
	console.log(partner_data[key].contact_name);
	console.log(partner_data[key].contact_number);	
	console.log(partner_data[key].volunteer_needs);
;};
console.log('Outside loop');
console.log(partner_data["Family Violence Law Center"]);

</script>
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
    }
  }
}
</script>

</div>

<div class="card">
<h1>Partner Name</h1>
<p><a href="website">website</a></p>
<p>contact_name<br>contact_number</p>

<h3>How you can help:</h3>
<p>Translators: language <a href="">Sign up</a><br>
Housing: type <a href="">provide</a><br></p>
<div id="myProgress">
  <div id="myBar"></div>
</div>
<div>
<div class="given">Amount received: amount_received</div>
<div class="ask">Amount Needed: monetary</div>
</div>
<br>
 <button class="w3-button w3-green" onclick="move()">Donate</button> 

<script type="text/javascript">
var obj = JSON.parse(JSON.stringify(partnername));
console.log(obj);

var partner_data = obj;
 
console.log('next line of code');
for (var key in partner_data){
    console.log(key);
    console.log(partner_data[key].website);
	console.log(partner_data[key].amount_received);
	console.log(partner_data[key].contact_name);
	console.log(partner_data[key].contact_number);	
	console.log(partner_data[key].volunteer_needs);
;};
console.log('Outside loop');
console.log(partner_data["Family Violence Law Center"]);
</script>
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
    }
  }
}
</script>

</div>

<div class="card">
<h1>Partner Name</h1>
<p><a href="website">website</a></p>
<p>contact_name<br>contact_number</p>

<h3>How you can help:</h3>
<p>Translators: language <a href="">Sign up</a><br>
Housing: type <a href="">provide</a><br></p>
<div id="myProgress">
  <div id="myBar"></div>
</div>
<div>
<div class="given">Amount received: amount_received</div>
<div class="ask">Amount Needed: monetary</div>
</div>
<br>
 <button class="w3-button w3-green" onclick="move()">Donate</button> 

<script type="text/javascript">
var obj = JSON.parse(JSON.stringify(partnername));
console.log(obj);

var partner_data = obj;
 
console.log('next line of code');
for (var key in partner_data){
    console.log(key);
    console.log(partner_data[key].website);
	console.log(partner_data[key].amount_received);
	console.log(partner_data[key].contact_name);
	console.log(partner_data[key].contact_number);	
	console.log(partner_data[key].volunteer_needs);
;};
console.log('Outside loop');
console.log(partner_data["Family Violence Law Center"]);
</script>
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
    }
  }
}
</script>

</div>

<div class="card">
<h1>Partner Name</h1>
<p><a href="website">website</a></p>
<p>contact_name<br>contact_number</p>

<h3>How you can help:</h3>
<p>Translators: language <a href="">Sign up</a><br>
Housing: type <a href="">provide</a><br></p>
<div id="myProgress">
  <div id="myBar"></div>
</div>
<div>
<div class="given">Amount received: amount_received</div>
<div class="ask">Amount Needed: monetary</div>
</div>
<br>
 <button class="w3-button w3-green" onclick="move()">Donate</button> 

<script type="text/javascript">
var obj = JSON.parse(JSON.stringify(partnername));
console.log(obj);

var partner_data = obj;
 
console.log('next line of code');
for (var key in partner_data){
    console.log(key);
    console.log(partner_data[key].website);
	console.log(partner_data[key].amount_received);
	console.log(partner_data[key].contact_name);
	console.log(partner_data[key].contact_number);	
	console.log(partner_data[key].volunteer_needs);
;};
console.log('Outside loop');
console.log(partner_data["Family Violence Law Center"]);
</script>
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
    }
  }
}
</script>

</div>

</body>
</html>
