<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Partners | Notes</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/normalize.css">
<link rel="stylesheet" type="text/css" href="../css/partner.css">
<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/partnerdata.json"></script>
<script type="text/javascript" src="../js/app.js"></script>


</head>
<body>
<script type="text/javascript">
var obj = JSON.parse(JSON.stringify(partnername));
console.log(obj);
var html = ' ';
var partner_data = obj;
 
console.log('next line of code');
for (var key in partner_data){
	var i = 1;
    console.log(key);
    console.log(partner_data[key].website);
	console.log(partner_data[key].amount_received);
	console.log(partner_data[key].contact_name);
	console.log(partner_data[key].contact_number);	
	console.log(partner_data[key].volunteer_needs);
	html = '<div class="card"> <h1>' + key + '</h1><p><a href="' + partner_data[key].website + '">website</a></p><p>' + partner_data[key].contact_name + '<br>' + partner_data[key].contact_number + '</p><h3>How you can help:</h3><p>Translators: language <a href="">Sign up</a><br>Housing: type <a href="">provide</a><br></p><button>Donate</button></div>';
	document.write(html);
	i++;
;};
console.log('Outside loop');
console.log(partner_data["Family Violence Law Center"]);
</script>


</body>
</html>
